@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*background-color: #393e42;*/
}

.ns--hf{
    border-top: 3px solid #CC0F16;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-image:url("https://i.ibb.co/P5tpJ3K/building.jpg");
    background-repeat: no-repeat;
    /*background-color: lightgray;*/
    height: 700px;
    width:100%;
    background-size:cover;
}





/* MAIN */

.main {
    width: 100%;
    height: 100%;
}


/* MAIN */




/* CONTENT PANEL */


/*body {
    background: #eee;
}*/
.container {
    width: 100%;
    height: 100%;
    margin:0px auto;
}
.carousel {
    border: 2px solid #416be4;
    height: 700px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slider {
    display: flex;
    height: 100%;
    width: 400%;
}
.slider section {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}
.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.arrow i {
    font-size: 70px;
    -webkit-user-select: none;
    color: #416be4;
}
.left {
    left: 10px;
}
.right {
    right: 10px;
}
.control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
}
.control ul li {
    width: 10px;
    height: 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
}
.control ul li.selected {
    background: transparent;
}
  



/* CONTENT PANEL */
/*CORPORATE*/


.left-menu {
    list-style: none;
    font-weight: normal;
    width: 200px;
}

.left-menu a{
    list-style: none;
    font-weight: normal;
    width: 200px;
}


.left-bar a{
    color: #393e42;
}

.left-bar li{
    font-size: 13px;
    padding: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ebebec;
}

.left-bar li a{
    text-decoration: none;
}

.text-screen {
    display: flex;
    padding-left: 50px;
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 120px;
    height: 100%;
}


.text-box {
    margin-left: 50px;
    padding: 0px;
}

.text-box p{
    padding-top: 30px;
    border-top: 2px solid #ebebec;
    font-size: 13px;
    font-weight: normal;
}

.text-box h4{
    color: red;
    margin-bottom: 10px;
}

.text-box h5{
    margin-bottom: 20px;
    color: #393e42;
}


/*CORPORATE*/



